.category-budget-overview{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: var(--spacing-sm);
    padding-bottom: var(--spacing-xsm);
    flex: 1;
}

.category-budget-overview-with-menu{
    display: flex;
    align-self: flex-start;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.category-budget-info{
    display: flex;
    justify-content: space-between;
}

.monthly-budget{
    overflow-y: scroll;
}

.category-budget-overview p:nth-child(1){
    color: white;
}

.category-budget-overview p:nth-child(3){
    font-size: var(--font-size-sm);
}