.category-budget-overview{
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.monthly-budget{
    overflow-y: scroll;
    background-color: lightpink;
}