.dashboard {
    margin-top: 75px;
    height: calc(100% - 75px);
    display: grid;
    padding: 20px;
    grid-template-rows: 1fr 2fr 6fr;
    box-sizing: border-box;
}

.month-section{
    background-color: aqua;
}

.totals-section {

}

.dashboard-summary-section {
    background-color: lightskyblue;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard-summary-section.income-dashboard-summary{
    background-color: var(--color-green-secondary);
    border: solid 0.1rem var(--color-green-primary);
    color: solid 0.1rem var(--color-green-primary);
}

.dashboard-summary-section.expense-dashboard-summary{
    background-color: var(--color-red-secondary);
    border: solid 0.1rem var(--color-red-primary);
    color: solid 0.1rem var(--color-red-primary);
}

.income-dashboard-summary p:nth-child(1) {
    color: var(--color-green-primary);
    font-size: var(--font-size-md);
}

.expense-dashboard-summary p:nth-child(1) {
    color: var(--color-red-primary);
    font-size: var(--font-size-md);
}

.dashboard-summary-section p:nth-child(2){
    color: white;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-regular);
}

.dashboard-summary-section p:nth-child(3){
    font-size: var(--font-size-sm);
}

.income-total{

}

.expenses-total{

}

.remaining-total{

}

.net-worth-total{

}

.net-worth-total, .remaining-total, .expenses-total, .income-total{
    background-color: lightskyblue;
}

.budget-funds-balance-sections{
    background-color: antiquewhite;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.budget-section{
    background-color: aliceblue;
}

.fund-balance-section{
    display: grid;
    grid-template-rows: 2fr 1f1;
}

.fund-section{
    background-color: rgb(98, 74, 38);
}

.balance-section{
    background-color: aqua;
}