.month-section{
    
}

.standard-container.income-dashboard-summary:hover,
.standard-container.expense-dashboard-summary:hover{
    transform: translatey(-3px);
    cursor: pointer;
}

.income-dashboard-summary,
.expense-dashboard-summary{
    transition: transform 0.3s ease;
}

.dashboard-summary {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-md);
    margin: 0;
}

.financial-overview-dashboard-summary p:nth-child(2){
    
}

@media (min-width: 980px) {
    .dashboard-summary {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.budget-funds-balance-sections{
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-md);
}

@media (min-width: 980px) {
    .budget-funds-balance-sections {
        grid-template-columns: 1fr 1fr;
        align-items: stretch;
        margin-bottom: 20px;
    }
}

.budget-section{
    height: 460px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.monthly-budget{
    flex: 1;
    overflow-y: auto;
    min-height: 0; /* critical */
}

.budget-section-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing-sm);
}

.budget-section-header p{
    font-size: var(--font-size-md);
    font-weight: bold;
    color: white;
}

.fund-balance-section{
    display: grid;
    gap: var(--spacing-md);
    grid-template-rows: 1fr 1fr;
    height: 460px;
}

.fund-balance-section > .standard-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.fund-section, .account-balance-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 0;
}

.category-budget-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    overflow-y: hidden;
}

.fund-section{
    gap: var(--spacing-md);
}

.standard-container.income-dashboard-summary{
    background-color: var(--color-green-secondary);
    border: solid 0.1rem var(--color-green-primary);
}

.standard-container.expense-dashboard-summary{
    background-color: var(--color-red-secondary);
    border: solid 0.1rem var(--color-red-primary);
}

.standard-container.remaining-dashboard-summary{
    background-color: #162144;
    border: solid 0.1rem #6590DB;
}

.income-dashboard-summary p:nth-child(1) {
    color: var(--color-green-primary);
    font-size: var(--font-size-md);
}

.expense-dashboard-summary p:nth-child(1) {
    color: var(--color-red-primary);
    font-size: var(--font-size-md);
}

.remaining-dashboard-summary p:nth-child(1) {
    color: #6590DB;
    font-size: var(--font-size-md);
}

.income-dashboard-summary p:nth-child(2),
.expense-dashboard-summary p:nth-child(2),
.remaining-dashboard-summary p:nth-child(2),
.financial-overview-dashboard-summary p:nth-child(2){
    color: white;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-regular);
}

.income-dashboard-summary p:nth-child(3),
.income-dashboard-summary p:nth-child(4),
.expense-dashboard-summary p:nth-child(3),
.expense-dashboard-summary p:nth-child(4),
.remaining-dashboard-summary p:nth-child(3),
.remaining-dashboard-summary p:nth-child(4) {
    font-size: var(--font-size-sm);
}

.financial-overview-dashboard-summary p:nth-child(3) {
    font-size: var(--font-size-xsm);
}

.btn-arrow-circle{
    background-color: rgba(255, 255, 255, 0.109);
    color: var(--color-btn-add-inside);
    border: none;
    border-radius: var(--border-radius-full);
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    line-height: 1;
}

.btn-arrow-circle.summary {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.btn-arrow-circle:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.254);
    color: #696f82;
}

.savings-section-header, .account-balance-section-header {
    padding-bottom: var(--spacing-sm);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.savings-section-header p, .account-balance-section-header p {
    font-weight: var(--font-weight-bold);
}

.account-balance-section-btns {
    display: flex;
    gap: var(--spacing-md);
}
