.dashboard {
    background-color: lightblue;
    margin-top: 75px;
    height: calc(100% - 75px);
    display: grid;
    padding: 20px;
    grid-template-rows: 1fr 2fr 6fr;
    box-sizing: border-box;
}

.totals-section {
    background-color: lightpink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.income-total{

}

.expenses-total{

}

.remaining-total{

}

.net-worth-total{

}

.net-worth-total, .remaining-total, .expenses-total, .income-total{
    background-color: lightskyblue;
    width: 100%;
    height: 100%;
}

.budget-funds-balance-sections{
    background-color: antiquewhite;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.budget-section{
    background-color: aliceblue;
}

.balances-categories-section{
    display: grid;
    grid-template-rows: 2fr 1f1;
}

.balances-section{
    background-color: rgb(98, 74, 38);
}

.categories-section{
    background-color: aqua;
}