.expense-page-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-lg);
    margin-bottom: var(--spacing-md);
}

.expense-dashboard-progress-bar-btns{
    display: flex;
    gap: var(--spacing-sm);
    flex: 1;
    flex-direction: column;
    align-items: end;
}

.expense-dashboard-progress-bar-btns p{
    font-weight: var(--font-weight-light);
}

.expense-menu-progress-bar{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
}

.expense-dashboard-btns{
    display: flex;
    gap: var(--spacing-sm);
}

@media (min-width: 980px) {
    .expense-dashboard-progress-bar-btns {
        flex-direction: row;
        align-items: center;
    }
    .expense-dashboard-progress-bar-btns{
        flex: 0.75;
        gap: var(--spacing-xlg);
    }
}

.category-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

