.income-content{
    width: 100%;
    flex: 1;
    min-height: 0;
    height: calc(100dvh - 220px);
}

.income-list {  
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: var(--spacing-sm);
}

.income-page-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing-md);
    align-items: center;
}
