.income-list {
    width: 100%;
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    height: calc(100dvh - 180px);
    gap: 10px;
    overflow-y: scroll;
}

.income-page-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing-md);
    align-items: center;
}