.register-page-content{
    max-width: 448px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: var(--spacing-sm);
    transform: translateY(20vh);
}

.register-card{
    display: flex;
    justify-content: center;
}

.register-title{
    text-align: center;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
}

.register-form{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 16px;
}

.register-form .input-field-standard {
    width: 100%;
}
