.fund-list{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.fund-page-dashboard{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing-md);
}
