.dropdown-header-gap{
    gap: var(--spacing-md);
}

.category-info-progress-bar{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items:stretch;
}

.category-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

@media (min-width: 768px){
    .category-info{
        flex-direction: row;
        align-items: center;
    } 
}


.category-info p:nth-child(1){
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
}

.category-info p:nth-child(2){
    font-size: var(--font-size-sm);
}

.category-btns{
    display: flex;
    gap: var(--spacing-sm);
}

.expense-list{
    padding-right: var(--spacing-sm);
}

.add-btn{
    position: absolute;
    top: 0;
    right: 0;
}