.budget-category{
background-color: lightgreen;
}

.category-info{
    position: relative;
    display: flex;
    background-color: lightblue;
}

.dropdown{
    min-width: fit-content;
    width: 100%;
}

.add-btn{
    position: absolute;
    top: 0;
    right: 0;
}