.expense-form-body{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    background-color: var(--color-modal);
    border-radius: var(--border-radius-md);
    padding: var(--padding-lg);
    box-shadow: var(--box-shadow-md);
}

.expense-form-body input, .expense-form-body select{
    width: 100%;
}

.form-field-vendor-amount, .form-field-category-date {
    display: flex;
    gap: var(--spacing-md);
}

.form-field-vendor, 
.form-field-amount,
.form-field-date,
.form-field-description,
.form-field-category{
    flex: 1;
}