.account-balance{
    margin-right: var(--spacing-sm);
}

.account-balance-item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.account-balance-item td{
    padding: 10px;
    vertical-align: middle;
}

.account-balance-manage{
    display: flex;
    gap: var(--spacing-sm);
    align-items: center;
}