.account-type-toggle {
    display: flex;
    gap: var(--spacing-sm);
}

.account-type-btn {
    flex: 1;
    padding: 0.8em 1.4em;
    border-radius: var(--border-radius-md);
    border: 1px solid transparent;
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    background-color: var(--color-input-field);
    color: var(--color-text);
}

.account-type-btn.asset:hover,
.account-type-btn.asset.active {
    border-color: var(--color-green-primary);
    color: var(--color-green-primary);
    box-shadow: var(--box-shadow-md);
}

.account-type-btn.liability:hover,
.account-type-btn.liability.active {
    border-color: var(--color-red-primary);
    color: var(--color-red-primary);
    box-shadow: var(--box-shadow-md);
}