/* MonthPicker.css */
.month-picker {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    margin-bottom: var(--spacing-md);
    width: 190px;
}

.month-picker button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
    color: var(--color-text)
}

.date-with-arrows{
    display: flex;
    justify-content: space-between;
}

.arrow-btns{
    display: flex;
    gap: var(--spacing-sm);
}

.arrow-btns button{
    width: 25px;
    height: 25px;
}

.arrow-btns button:hover{
    color: var(--color-secondary-hover);
}

.divider{
    border-top: solid 1px var(--color-text);
}