/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    width: 90%;
    max-width: 500px;
    max-height: 90vh;
    overflow-y: auto;
}

.modal-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-lg);
}

.modal-header h2 {
    margin: 0;
    color: var(--light-background);
}

.modal-close {
    position: absolute;
    right: 0;
    top: 22px;
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: var(--light-background);
}

.modal-close:hover {
    color: var(--color-border);
}


.modal-body .multiple-form-btns button {
    display: block;
    margin: var(--spacing-md) auto;
}

.multiple-form-btns{
    display: flex;
    gap: var(--spacing-sm);
    align-items: center;
    justify-content: center;
}

.btn-primary-modal {
  border: 1px solid var(--light-background);
  background: transparent;
  padding: 0.8em 1.4em;
  font-family: inherit;
  cursor: pointer;
  color: var(--light-background);
}

.btn-primary-modal:hover {
    cursor: pointer;
    background-color: var(--light-background);
    color: var(--color-border)
  }

.btn-danger-modal {
    border: 1px solid var(--color-red-primary);
    background: transparent;
    padding: 0.8em 1.4em;
    font-family: inherit;
    cursor: pointer;
    color: var(--color-red-primary);
  }

  .btn-danger-modal:hover {
    cursor: pointer;
    background-color: var(--color-red-primary);
    color: white;
  }