.fund-info{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-md);
}

.fund-progress-bar-details{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.fund-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

@media (min-width: 768px){
    .fund-details{
        flex-direction: row;
        align-items: center;
    } 
}

.fund-details p:nth-child(1){
    color: var(--color-primary);
    font-weight: var(--font-weight-bold);
}

.fund-details p:nth-child(2){
    font-size: var(--font-size-sm);
}

.fund-btns{
    display: flex;
    gap: var(--spacing-sm);
}