.fund-info{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-md);
}

.fund-progress-bar-details{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.fund-details{
    display: flex;
    justify-content: space-between;
}

.fund-details p:nth-child(1){
    color: white;
    font-weight: var(--font-weight-bold);
}

.fund-details p:nth-child(2){
    font-weight: var(--font-weight-light);
}

.fund-btns{
    display: flex;
    gap: var(--spacing-sm);
}