.savings-fund{
background-color: lightgreen;
}

.fund-info{
    position: relative;
    display: flex;
    background-color: lightblue;
    width: 100%;
    justify-content: space-between;
}

.dropdown{
    min-width: fit-content;
    width: 100%;
}

.add-fund-btn{

}

.edit-fund-btn{

}

.fund-btns{
    display: flex;
    gap: 5px;
    
}